.single-artists{
    .bt-section{
        &.bt-section-content-artists{
            padding: 0 0 50px 0;
            .bt-title{
                font-family: $font-family;
                margin: 0 0 20px 0;
                font-size: 30px;
                line-height: 35px;
                font-weight: 700;
                text-align: center;
            }
            .bt-excerpt{
                font-family: $font-family;
                font-size: 18px;
                line-height: 28px;
                color: #555;
                font-weight: 400;
                padding-left: 30px;
            }
            .bt-meta{
                display: flex;
                align-items: center;
                align-content: center;
            }
            .bt-social-artists{
                display: flex;
                align-items: center;
                align-content: center;
                margin-top: 10px;
                > span{
                    line-height: 38px;
                    font-size: 28px;
                    font-weight: 700;
                    letter-spacing: 0.32px;
                    font-family: $font-family;
                    color: #222;
                }
                ul.bt-social{
                    padding: 0;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    > li{
                        width: 40px;
                        height: 40px;
                        overflow: hidden;
                        margin: 0 5px;
                        border-radius: 50%;
                        text-align: center;
                        a{
                            text-align: center;
                            line-height: 45px;
                            svg{
                                width: 25px;
                                height: 20px;
                            }
                        }
                        &.bt-facebook{
                            background-color: #186CB0;
                        }
                        &.bt-twitter{
                            background-color: #00B3D3;
                        }
                        &.bt-instagram{
                            background-color: #074682;
                        }
                        &.bt-google{
                            background-color: #E22E04;
                        }
                    }
                }
            }
            .bt-thumbnail{
                > img{
                    max-width: 350px;
                }
            }
        }
    }
}
