.be_timelines_navigation{
  position: absolute;
  left: 0;
  bottom: 12%;
  z-index: 9999;
  width: 100%;
  height: auto;
  &__item{
    position: absolute;
    bottom: 0%;
    > span{
      padding: 15px 15px;
      background: #fff;
      color: #e06a0a;
      line-height: 1;
      cursor: pointer;
      display: inline-block;
    }

    .bt-back{
        padding: 10px;
        width: 40px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.6);
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
        border-radius: 0;
        transition: all 0.3s ease-out;
        //opacity: 0.4;
        background-image: url(../images/back1.png);
        cursor: pointer;
    }

    &.be_timelines_next{
      right: 0%;
    }

    &.be_timelines_prev{
      left: 0%;
    }
  }
}
